/GitRevit/GitRevit/bin/Debug/GitRevit.dll
/GitRevit/GitRevit/bin/Debug/GitRevit.pdb
/GitRevit/GitRevit/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GitRevit/GitRevit/obj/Debug/GitRevit.csproj.CoreCompileInputs.cache
/GitRevit/GitRevit/obj/Debug/GitRevit.csproj.FileListAbsolute.txt
/GitRevit/GitRevit/obj/Debug/GitRevit.csprojAssemblyReference.cache
/GitRevit/GitRevit/obj/Debug/GitRevit.dll
/GitRevit/GitRevit/obj/Debug/GitRevit.pdb
/GitRevit/GitRevit/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/GitRevit/GitRevit/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/GitRevit/GitRevit/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
